body {
	margin:10px;
}

.btn-toolbar {
	margin:20px 0;
}

.lineChart {
	font: 10px sans-serif;
	width:960px;
}
@media (max-width: 600px) {
	.lineChart {
		width:100%;
	}
}
.lineChart .axis path,
.lineChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.lineChart .x.axis path {
	display: none;
}

.lineChart .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}